.faq__subtitle {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 0px;
}

.faq__list {
    box-sizing: content-box;
    padding: 0;
}

.faq__item {
    list-style-type:none;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    box-sizing: initial;
    line-height: 40px;
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__item:nth-child(even) {
    color: white;
    background-color: #440F51;
}

.faq__item:nth-child(odd):after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/open-purple.svg");
    width: 40px;
    height: 40px;
    right: 50px;
    bottom: 24px;
    float: right;
}

.faq__item:nth-child(even):after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/open.svg");
    width: 40px;
    height: 40px;
    right: 50px;
    bottom: 24px;
    float: right;
}
