.reviews__container {
  display: flex;
}

.reviews__subtitle {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 0px;
}

.reviews__text {
  width: 680px;
  font-size: 20px;
}

.reviews__item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.reviews__item:last-child {
  margin-bottom: 0;
}

.reviews__image {
  margin-right: 20px;
}

.reviews__profile {
  text-align: center;
}